[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
black = "*"

[packages]
flask = "*"
pyjwt = "*"
pyyaml = "*"
flask-wtf = "*"
requests = "*"
astroapiserver = {editable = true,path = "."}
pymysql = "*"
cryptography = "*"
apispec = "*"
apispec-webframeworks = "*"
astropy = "*"
simplejson = "*"
pandas = "*"
webargs = "*"

[pipenv]
allow_prereleases = true

