[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
flask = "*"
pyjwt = "*"
pyyaml = "*"
flask-wtf = "*"
requests = "*"
astroapiserver = {editable = true,path = "."}
pymysql = "*"
cryptography = "*"
apispec = "*"
apispec-webframeworks = "*"
astropy = "*"

[requires]
python_version = "3.7"
