body {
    font-size: 16px;
}

.small {
    font-size: 90%;
}

.navbar {
    padding: .5rem 1rem;
    padding-top: 0;
    padding-right: 1rem;
    padding-bottom: 0;
    padding-left: 1rem;
}

code.type {
    color: #6c757d;
}

#result pre{
    height: 50vh;
    overflow: auto;
}