header a {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 0.5rem;
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
}

nav {
  border-bottom: 1px solid #dee2e6;
}

body {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.small {
  font-size: 90%;
}

.navbar {
  padding: .5rem 1rem;
  padding-top: 0;
  padding-right: 1rem;
  padding-bottom: 0;
  padding-left: 1rem;
}

code.type {
  color: #6c757d;
}

#result .card-body{
  padding: 1em;
}

#result pre {
  height: 50vh;
  overflow: auto;
}

#sidenav {
  background-color: rgb(28, 28, 28)!important;
  /* border-left: 5px solid white; */
  /* box-shadow: inset 10px 0px 0px rgb(60, 60, 60, 60); */
}

@media (min-width: 768px) {
  #sidenav {
    position: sticky;
    height: 100vh;
    top: 0;
  }
}

th {
  text-align: left;
}

#api-form-url {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 0.9em;
  color: #e83e8c;
}

#result-ascii {
  padding: 0;
}

.tooltip-parent {
  color: #e83e8c;
  border-bottom: 1px dashed #ff0000;
}

.tooltip-parent:hover {
  color: #e83e8c;
  border-bottom: none;
  text-decoration: none;
}

.btn-magenta {
  color: #e83e8c!important;
  border-color: #e83e8c!important;
}

.btn-magenta {
color: #fff!important;
background-color: #e83e8c!important;
border-color: #e83e8c!important;
}

tr.subcontent td {
  padding-top: 1em;
  padding-bottom: 2.5em;
}

#back-to-top {
  position: sticky;
  bottom: 3vh;
  left: 3vw;
  width: 60px;
  height: 60px;
  padding: 0;
  opacity: 0.33;
  background-color: white;
  box-shadow: none;
  border: none;
  border-radius: 16px;
  text-align: center;
  line-height: 1em;
  font-size: 20px;
}

#back-to-top:hover {
  opacity: 1;
  transition: color
    .15s ease-in-out,background-color
    .15s ease-in-out,border-color
    .15s ease-in-out,box-shadow
    .15s ease-in-out;
  background-color: rgba(0,0,0,0.05);
  animation: backg
}

#back-to-top * {
  text-align: center;
  vertical-align: middle;
}

.api-path {
  color: #e83e8c;
}

a.api-path:hover {
  text-decoration: none;
  color: #e83e8c;
}