<!doctype html>
<html lang='en'>

<head>
  <meta charset="UTF-8">
  <title>AstroAPIServer | Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link id="bootstrap" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/admin.css">
</head>

<body>
  <header>
    <nav class="container-fluid navbar navbar-light border-bottom">
      <a class="navbar-brand" href="#">AstroAPIServer Admin</a>
      <!-- <button type="button" id="toggle-css" onclick="toggleCSS()">Toggle CSS</button> -->
    </nav>
    <!-- <script>
      function toggleCSS() {
        let attr = $('#bootstrap').attr('disabled');

        if (typeof attr !== typeof undefined && attr !== false) {
          $('#bootstrap').removeAttr('disabled');
        } else {
          $('#bootstrap').attr('disabled', 'disabled')
        }
      }
    </script> -->
  </header>
  <main class="container-fluid">
    <div class="row">
      <!-- Sidenav -->
      <div id="sidenav" class="col-12 col-md-4 text-light order-sm-1">
        <!-- Output Formats -->
        <div class="my-5">
          <form id="api-form">
            <div class="form-group">
              <!-- TODO: Change placeholder to start with /api -->
              <label for="api-form-url">API endpoint</label>
              <textarea id="api-form-url" class="form-control" rows=3
                placeholder="/salary?from_date=2000-01-01"></textarea>
            </div>
            <div class="form-group">
              <!-- <div class="form-check form-check-inline">
                  <input id="output-json" class="form-check-input" type="radio" name="output_format" value="JSON"
                    checked>
                  <label class="form-check-label" for="output-json">JSON</label>
                </div>
                <div class="form-check form-check-inline">
                  <input id="output-ascii" class="form-check-input" type="radio" name="output_format" value="ASCII">
                  <label class="form-check-label" for="output-ascii">ASCII</label>
                </div>
                <div class="form-check form-check-inline">
                  <input id="output-csv" class="form-check-input" type="radio" name="output_format" value="CSV">
                  <label class="form-check-label" for="output-csv">CSV</label>
                </div> -->

              <!-- Output Format buttons -->
              <div class="form-row mb-2">
                <span class="col-3 col-lg-4 align-text-bottom">
                  <label for="output-format" class="align-text-bottom">Output format</label>
                </span>
                <div class="col">
                  <select id="output-format" class="form-control" name="output_format" required>
                    <option value="JSON" selected>JSON</option>
                    <option value="ASCII">ASCII</option>
                    <option value="CSV">CSV</option>
                  </select>
                </div>
              </div>

              <!-- Submit Buttons -->
              <div class="form-row mb-2">
                <span class="col-3 col-lg-4 align-text-bottom">
                  <label for="print-method" class="align-text-bottom">Print as</label>
                </span>
                <div class="col">
                  <select id="print-method" class="form-control" name="print_method" required>
                    <option value="inline" selected>Inline</option>
                    <option value="newtab">New Tab</option>
                    <!-- <option value="save">Save</option> -->
                  </select>
                </div>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col">
                <button id="api-button-save" class="btn btn-info btn-block">Save</button>
              </div>
              <div class="col">
                <button id="api-button-inline" class="btn btn-info btn-block">Inline</button>
              </div>
              <div class="col">
                <button id="api-button-newtab" class="btn btn-info btn-block">New Tab</button>
              </div>
            </div> -->
            <div style="height: 1px;">
              <button id="#submit" type="submit" class="btn btn-light float-right">Submit</button>
            </div>
          </form>
        </div>
        <div id="result" class="card text-dark">
          <div class="card-header lead">Output</div>
          <div class="card-body">
            <pre id="result-code" class="m-0">
            </pre>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-8 pt-3 pr-2">
        <h2> Global Query Parameters </h2>
        <p><code class="text-muted">/api/path/to/endpoint?{param1}={value1}&{param2}={value2}</code></p>
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th>Parameter</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><code>select</code></th>
              <td><code class="text-muted">str</code></td>
              <td>Limit the output to only a certain set of columns.</td>
            </tr>
            <tr>
              <th scope="row"><code>limit</code></th>
              <td><code class="text-muted">int</code></td>
              <td>Limit the output to only a certain set of rows.</td>
            </tr>
            <tr>
              <th scope="row"><code>orderby</code></th>
              <td><code class="text-muted">str</code></td>
              <td>Order the output by a column or ordered set of columns.</td>
            </tr>
            <tr>
              <th scope="row"><code>desc</code></th>
              <td><code class="text-muted">bool</code></td>
              <td>Order of the output is descending by default. Set to <code>False</code> for ascending order.</td>
            </tr>
            <tr>
              <th scope="row"><code>format</code> <small class="text-black-50">(required)</small></th>
              <td><code class="text-muted">str</code></td>
              <td>Output can be formatted as either JSON (default), ASCII, or CSV.</td>
            </tr>
          </tbody>
        </table>
        <h2> API Endpoints </h2>
        <small class="text-muted float-right"><code>*</code>required</small>
        <!-- Endpoint Table -->
        <table class="table table-sm">
          <thead>
            <tr>
              <th style="min-width: 200px;">Path</th>
              <th>Parameters</th>
              <!-- <th>Response</th> -->
            </tr>
          </thead>
          <tbody>
            {% for path in paths %}
            <!-- Header Row -->
            <tr>
              <!-- Path -->
              <th scope="row">
                <div><a href="javascript:pathToForm('{{ path }}');" class="api-path"><code>{{ path }}</code></a></div>
                <small class="text-muted">
                  {{paths[path]['summary']}}
                </small>
              </th>
              <!-- Parameter -->
              <td scope="row">
                {% for params in paths[path]['get']['parameters']%}
                {% if params['description'] %}
                <a href="javascript:void(0);" class="tooltip-parent" data-toggle="tooltip" data-placement="right"
                  title="{{params['description']}}">
                  <code>{{params['name']}}{% if params['required'] %}*{% endif %}</code>
                </a>

                {% else %}
                <code>{{params['name']}}{% if params['required'] %}*{% endif %}</code>
                {% endif %}
                <br>
                {% endfor %}
              </td>

              {% set fields = paths[path]['get']['responses']['200']['content']['application/json']['schema']['properties'] %}

              <!-- Response -->
              <!-- <td>
                {% for field, meta in fields.items() %}
                <div class="row">
                  <div class="col">
                    <code>{{field}}</code>
                  </div>
                  <div class="col">
                    <code class="type">{{meta['type']}}</code> <small>{{meta['description']}}</small><br>
                  </div>
                </div>
                {% endfor %}
              </td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <button id="back-to-top" type="button"><a>&#x21A5;<br><small>TOP</small></a></button>
  </main>

  {% block script %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="{{request.url_root}}static/admin.js"></script>
  {% endblock %}
</body>

</html>