{% extends "base.html" %}
{% block content %}

{% if username %}
Current User: {{ username }}
<br>
<form action="{{API_URL}}/logout" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="submit" value="Logout">
</form>

{% else %}
Current User: N/A
<br>
<form action="http://127.0.0.1:8081/login" method="post">
    <input type="text" name="username", placeholder="username">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="submit" value="Login">
</form>
{% endif %}
<br>
{% endblock %}